$mainColor: #1849c6;
$primaryColor: #ffce31;
$secondaryColor: #f6f8fd;
$optionalColor: #ffffff;

$mainTextColor: #021850;
$primaryTextColor: #2f2f2f;
$secondaryTextColor: #4d4e4f;
$optionalTextColor: #4A4A4A;

$greyLightColor: #d9d9d9;
$greyColor: #979797;
$greyDarkColor: #202a39;
$whiteColor: #ffffff;
$blackColor: #000000;
$blueColor: #2283f6;
$blueDarkColor: #0b6ada;
$redColor: #ed1d49;
$redDarkColor: #dd234b;
$greenColor: #1bb83d;
$greenDarkColor: #1bb83d;
$darkColor: #161f2c;
$extraDarkColor: #111923;
$tintLightColor: #E8EFFF;
$transparent: transparent;

$bitcointalkColor :#f7931a;
$discordColor :#5865f2;
$facebookColor :#3b5998;
$googleColor :#db3236;
$instagramColor :#e74969;
$linkedinColor :#0e76a8;
$pinterestColor :#e60023;
$steemitColor :#00eeb7;
$telegramColor :#4ea1da;
$tiktokColor :#00ded9;
$twitterColor :#1da1f2;
$whatsappColor :#4fce5d;
$youtubeColor :#ff0000;

$black: #000000;
$white: #ffffff;

$charcoal: #333333;
$drag-icon: #7c7c7a;
$add-category: #c7c7c7;
$placeholder-color: #acacac;
$light-black-color: #080808;
$button-color: #212529;
$red-color: #e35e56;
$bright-red: #ff0000;
$green-color: #63bf87;
$border-grey: grey;
$grey-color: #e6e6e6;
$light-grey: #efefef;
$grey-text: #acacac;
$subtitle-text: $drag-icon;
$circled-icon: #dddbdb;
$overlay-background: #0000005c;
$dropdown-bg: #f2f2f2;
$border-color: #707070;
$details: #999999;
$dropdown-border: #b9b9b9;
$dropdown-list-box: #00000029;
$table-row: #f4f4f4;
$input-bg: #e4e4e4;
$green-border: #12cc0a;
$incomplete-color: #f7cecc;
